stages:
  - build
  - test
  - release
  - deploy

variables:
  IMAGES_NAME: "gitlab-project"
  IMAGES_TAG: "v1"
  DOCKER_USERNAME: "lamsking"
  HOST_PORT: 80
  CONTAINER_PORT: 80
  SERVER_USERNAME: "ubuntu"

# -----------------------------
# BUILD
# -----------------------------
Build:
  stage: build
  image: docker:latest
  services:
    - name: docker:dind
      alias: docker
  script:
    - docker build --no-cache -t $IMAGES_NAME:$IMAGES_TAG .
    - docker save -o gitlab-project.tar $IMAGES_NAME:$IMAGES_TAG
  artifacts:
    paths:
      - gitlab-project.tar

# -----------------------------
# TEMPLATE TEST
# -----------------------------
.test_template: &test_template
  stage: test
  image: docker:latest
  services:
    - name: docker:dind
      alias: docker
  before_script:
    - apk add --no-cache curl
  script:
    - docker load -i gitlab-project.tar
    - docker run --rm -dp $HOST_PORT:$CONTAINER_PORT --name $IMAGES_NAME $IMAGES_NAME:$IMAGES_TAG
    - sleep 5
    - curl -I "http://docker" | grep -i 200

# -----------------------------
# TEST
# -----------------------------
Test:
  <<: *test_template

# -----------------------------
# TEMPLATE RELEASE
# -----------------------------
.release_template: &release_template
  stage: release
  image: docker:latest
  services:
    - name: docker:dind
      alias: docker
  script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker load -i gitlab-project.tar
    - docker tag $IMAGES_NAME:$IMAGES_TAG $DOCKER_USERNAME/$IMAGES_NAME:$IMAGES_TAG
    - docker push $DOCKER_USERNAME/$IMAGES_NAME:$IMAGES_TAG

# -----------------------------
# RELEASE
# -----------------------------
Release Image:
  <<: *release_template

# -----------------------------
# TEMPLATE DEPLOY
# -----------------------------
.deploy_template: &deploy_template
  stage: deploy
  image: alpine
  before_script:
    - apk add --no-cache openssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | base64 -d > /tmp/id_rsa
    - chmod 600 /tmp/id_rsa
    - ssh-add /tmp/id_rsa
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
  script:
    - ssh -o StrictHostKeyChecking=no -i /tmp/id_rsa $SERVER_USERNAME@$SERVER_IP "docker pull $DOCKER_USERNAME/$IMAGES_NAME:$IMAGES_TAG"
    - ssh -o StrictHostKeyChecking=no -i /tmp/id_rsa $SERVER_USERNAME@$SERVER_IP "docker rm -f $IMAGES_NAME || true"
    - ssh -o StrictHostKeyChecking=no -i /tmp/id_rsa $SERVER_USERNAME@$SERVER_IP "docker run -dp $HOST_PORT:$CONTAINER_PORT --name $IMAGES_NAME $DOCKER_USERNAME/$IMAGES_NAME:$IMAGES_TAG"

# -----------------------------
# DEPLOY REVIEW
# -----------------------------
Deploy Review:
  <<: *deploy_template
  variables:
    SERVER_IP: ""
  environment:
    name: Review

# -----------------------------
# DEPLOY STAGING
# -----------------------------
Deploy Staging:
  <<: *deploy_template
  variables:
    SERVER_IP: ""
  environment:
    name: Staging

# -----------------------------
# DEPLOY PRODUCTION
# -----------------------------
Deploy Production:
  <<: *deploy_template
  variables:
    SERVER_IP: ""
  environment:
    name: Production
